/* 
 *   RESET CSS
 ******************************************* */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* 
 *   GLOBAL CSS
 ******************************************* */
:root {

    --col-1: calc(8.33333333% * 1);
    --col-2: calc(8.33333333% * 2);
    --col-3: calc(8.33333333% * 3);
    --col-4: calc(8.33333333% * 4);
    --col-5: calc(8.33333333% * 5);
    --col-6: calc(8.33333333% * 6);
    --col-7: calc(8.33333333% * 7);
    --col-8: calc(8.33333333% * 8);
    --col-9: calc(8.33333333% * 9);
    --col-10: calc(8.33333333% * 10);
    --col-11: calc(8.33333333% * 11);
    --col-12: calc(8.33333333% * 12);
}


/* 
 * 12 COLOUMN GRID CSS
 ******************************************* */
.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.f-row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* ******************************************** MIN-WIDTH ****** */
/* SMALL (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .col-sm-1 {
        max-width: var(--col-1);
        flex-basis: var(--col-1);
    }

    .col-sm-2 {
        max-width: var(--col-2);
        flex-basis: var(--col-2);
    }

    .col-sm-3 {
        max-width: var(--col-3);
        flex-basis: var(--col-3);
    }

    .col-sm-4 {
        max-width: var(--col-4);
        flex-basis: var(--col-4);
    }

    .col-sm-5 {
        max-width: var(--col-5);
        flex-basis: var(--col-5);
    }

    .col-sm-6 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-sm-7 {
        max-width: var(--col-7);
        flex-basis: var(--col-7);
    }

    .col-sm-8 {
        max-width: var(--col-8);
        flex-basis: var(--col-8);
    }

    .col-sm-9 {
        max-width: var(--col-9);
        flex-basis: var(--col-9);
    }

    .col-sm-10 {
        max-width: var(--col-10);
        flex-basis: var(--col-10);
    }

    .col-sm-11 {
        max-width: var(--col-11);
        flex-basis: var(--col-11);
    }

    .col-sm-12 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }

}

/* MEDIUM (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-1 {
        max-width: var(--col-1);
        flex-basis: var(--col-1);
    }

    .col-md-2 {
        max-width: var(--col-2);
        flex-basis: var(--col-2);
    }

    .col-md-3 {
        max-width: var(--col-3);
        flex-basis: var(--col-3);
    }

    .col-md-4 {
        max-width: var(--col-4);
        flex-basis: var(--col-4);
    }

    .col-md-5 {
        max-width: var(--col-5);
        flex-basis: var(--col-5);
    }

    .col-md-6 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-md-7 {
        max-width: var(--col-7);
        flex-basis: var(--col-7);
    }

    .col-md-8 {
        max-width: var(--col-8);
        flex-basis: var(--col-8);
    }

    .col-md-9 {
        max-width: var(--col-9);
        flex-basis: var(--col-9);
    }

    .col-md-10 {
        max-width: var(--col-10);
        flex-basis: var(--col-10);
    }

    .col-md-11 {
        max-width: var(--col-11);
        flex-basis: var(--col-11);
    }

    .col-md-12 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }
}

/* LARGE (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-lg-1 {
        max-width: var(--col-1);
        flex-basis: var(--col-1);
    }

    .col-lg-2 {
        max-width: var(--col-2);
        flex-basis: var(--col-2);
    }

    .col-lg-3 {
        max-width: var(--col-3);
        flex-basis: var(--col-3);
    }

    .col-lg-4 {
        max-width: var(--col-4);
        flex-basis: var(--col-4);
    }

    .col-lg-5 {
        max-width: var(--col-5);
        flex-basis: var(--col-5);
    }

    .col-lg-6 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-lg-7 {
        max-width: var(--col-7);
        flex-basis: var(--col-7);
    }

    .col-lg-8 {
        max-width: var(--col-8);
        flex-basis: var(--col-8);
    }

    .col-lg-9 {
        max-width: var(--col-9);
        flex-basis: var(--col-9);
    }

    .col-lg-10 {
        max-width: var(--col-10);
        flex-basis: var(--col-10);
    }

    .col-lg-11 {
        max-width: var(--col-11);
        flex-basis: var(--col-11);
    }

    .col-lg-12 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }
}

/* Extra LARGE (lg) devices (LARGE (lg) desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* ******************************************** MAX-WIDTH ****** */
/* LARGE (lg) devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* MEDIUM (md) devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .col-lg-1,
    .col-lg-2 {
        max-width: var(--col-3);
        flex-basis: var(--col-3);
    }

    .col-lg-3,
    .col-lg-4,
    .col-lg-5 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-lg-6,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }

}


/* SMALL (sm) devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .col-md-1,
    .col-md-2 {
        flex-basis: var(--col-3);
        max-width: var(--col-3);
    }

    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6 {
        flex-basis: var(--col-6);
        max-width: var(--col-6);
    }

    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }

    .col-lg-1,
    .col-lg-2 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-lg-3,
    .col-lg-4,
    .col-lg-5 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }
}

/* Extra SMALL (sm) devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }

    .col-md-1 {
        flex-basis: var(--col-3);
        max-width: var(--col-3);
    }

    .col-md-2 {
        flex-basis: var(--col-4);
        max-width: var(--col-4);
    }

    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6 {
        flex-basis: var(--col-6);
        max-width: var(--col-6);
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5 {
        max-width: var(--col-6);
        flex-basis: var(--col-6);
    }

    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        max-width: var(--col-12);
        flex-basis: var(--col-12);
    }

}

/* Extra SMALL (sm) devices (portrait phones, less than 450px) */
@media (max-width: 450px) {

    .col-md-1,
    .col-md-2 {
        flex-basis: var(--col-6);
        max-width: var(--col-6);
    }

    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }
}

/* Extra SMALL (sm) devices (portrait phones, less than 350px) */
@media (max-width: 350px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }
}

/* ******************************************** MIN and MAX WIDTH ****** */
/* SMALL (sm) devices (landscape phones, 576px and upto 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* SMALL (sm) devices (landscape phones, 576px and upto 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {}

/* MEDIUM (md) devices (tablets, 768px and upto 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* LARGE (lg) devices (desktops, 992px and upto 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}